.tbl tr td{
    width:200px;
}
.mapping_search
{
    margin: 10px 20px;
    padding: 20px;
    background: white;
    box-shadow: 2px 2px 10px lightgrey;
}

.mapping_search h5 {
    color: lightslategrey;
    font-size: 16px;
}
a {
    color: #c20000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.btn-primary {
    margin-bottom: 50px;
    background: #1c7ba8;
    border-color: #1c7ba8;
}