{% extends 'mapping/base-mapping.html' %}
{% block main %}


<div class="container-lg" style="padding:100px 100px">
        {% for m in messages %}
        <p>{{m}}</p>
        {% endfor %}
        <div class="row">
            <div class="col-md-7" style="background:#fff; padding:30px 30px">
                {% load crispy_forms_tags %}
                <div class="signupform">
                    <form method="post" action="/mapping/change-password" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form|crispy }}
                        <br><br>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
            </div>
        </div>
</div>


{% endblock %}