{% extends 'mapping/base-mapping.html' %}
{% block main %}

<div class="container" style="margin-top:100px;">
   <center class="row">
       <div class="col-lg-8" style="padding: 100px 60px;background: lightgrey;box-shadow: 2px 2px 10px lightgrey;">
           <div>
               <h4>Edit Employee Profile</h4>
           </div>
           <div>
               <form action="/mapping/update-employee-profile/empid-search" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   <label>Search By Emp ID</label>
                   <input type="text" name="emp_id" required>
                   <button type="submit">Search</button>
               </form>
           </div>
           <div style="margin:30px;">
                {% for m in messages %}
                    <p style="color: #db291b;font-size: 18px;font-weight: bold;">{{m}}</p>
                {% endfor %}
           </div>
           <div>
               <form action="/mapping/update-employee-profile" method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                   <p>Select Employee</p>
                   <select name="emp_id" id="">
                       {% if emp.emp_name != None %}
                       <option value="{{emp.emp_id}}">{{emp.emp_name}} : {{emp.emp_id}} : {{emp.emp_process}}</option>
                       {% endif %}
                       {% for e in employees %}
                       <option value="{{e.emp_id}}">{{e.emp_name}} : {{e.emp_id}} : {{e.emp_process}}</option>
                       {% endfor %}
                   </select>
                   <br><br>
                   <button type="submit" class="btn btn-secondary" style="width: 100px;">Edit</button>
               </form>
           </div>
       </div>
   </center>
</div>
{% endblock %}