{% extends 'mapping/base-mapping.html' %}
{% block main %}

<div class="container" style="margin-top:50px;">
    <div style="margin:50px 0px;">
        <p>Team :</p>
        <h5>{{team}}</h5>
    </div>
   <div class="row">
       <div class="col-lg-4">
           <div>
               <h5>RM1</h5>
               {% for t in rm1s %}
                    <p>{{t}}<a href="/mapping/update-rm1/{{team}}/{{t}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></p>
               {% endfor %}
           </div>
       </div>
       <div class="col-lg-4">
           <div>
               <h5>RM2</h5>
               {% for t in rm2s %}
                    <p>{{t}}<a href="/mapping/update-rm2/{{team}}/{{t}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></p>
               {% endfor %}
           </div>
       </div>
       <div class="col-lg-4">
           <div>
               <h5>RM3</h5>
               {% for t in rm3s %}
                    <p>{{t}}<a href="/mapping/update-rm3/{{team}}/{{t}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></p>
               {% endfor %}
           </div>
       </div>
   </div>
</div>
{% endblock %}