{% extends 'mapping/base-mapping.html' %}
{% block main %}

<div class="container" style="margin-top:50px;">
   <div class="row">
       <div class="col-lg-6" style="background: lightgrey;padding: 50px 60px;box-shadow: 2px 2px 10px lightgrey;">
           <div>
               <h4>Update Profile</h4>
               <form action="/mapping/update-to-system" method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                   <p>Emp Name</p>
                   <input type="text" value="{{emp.emp_name}}" name="emp_name" class="form-control" readonly>
                   <p>Emp ID</p>
                   <input type="number" value="{{emp.emp_id}}" name="emp_id" class="form-control" readonly>
                   <p>Designation</p>
                   <input type="text" value="{{emp.emp_desi}}" name="emp_desi" class="form-control" readonly>
                   <p>Process</p>
                   <select name="emp_process" id="" required class="form-control">
                       <option value="{{emp.emp_process}}">{{emp.emp_process}}</option>
                       {% for t in teams %}
                       <option value="{{t.name}}">{{t.name}}</option>
                       {% endfor %}
                   </select>
                   <p>RM 1</p>
                   <select name="emp_rm1" id="" required class="form-control">
                       <option value="{{emp.emp_rm1}}">{{emp.emp_rm1}}</option>
                       {% for t in rms %}
                       <option value="{{t.emp_name}}">{{t.emp_name}} / {{t.emp_id}}</option>
                       {% endfor %}
                   </select>
                   <p>RM 2</p>
                   <select name="emp_rm2" id="" required class="form-control">
                       <option value="{{emp.emp_rm2}}">{{emp.emp_rm2}}</option>
                       {% for t in rms %}
                       <option value="{{t.emp_name}}">{{t.emp_name}} / {{t.emp_id}}</option>
                       {% endfor %}
                   </select>
                   <p>RM 3</p>
                   <select name="emp_rm3" id="" required class="form-control">
                       <option value="{{emp.emp_rm3}}">{{emp.emp_rm3}}</option>
                       {% for t in rms %}
                       <option value="{{t.emp_name}}">{{t.emp_name}} / {{t.emp_id}}</option>
                       {% endfor %}
                   </select>
                   <br>
                   <input type="hidden" name="id" id="" value="{{emp.id}}">
                   <button type="submit" class="btn btn-secondary">Submit</button>
               </form>
           </div>
       </div>
   </div>
</div>
{% endblock %}