{% extends 'ams/base_hr_new.html' %}
{% block main %}
  {% load static %}
        <!-- page content -->
        <div class="right_col" role="main">

          <div class="page-title">
            <div class="title_left">
              <h3>Add Month's Attendance</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="month">Select Month</label>
                          <select name="date" id="month" class="form-control select2" required>
                            <option value="" selected disabled>Please select</option>
                            {% for i in months %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <div class="col-md-12" align="center">
                          <button type="submit" class="form-control mt-4 btn btn-success btn-lg" onclick="return confirmm();">Submit</button>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /page content -->



    <!-- Start New Designation Pop-Up -->
      <div class="modal fade" id="add_desg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add New Designation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="" action="" enctype="">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="new_desg">Designation Name</label>
                      <input type="text" name="new_desg" id="new_desg" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- End New Designation Pop-Up -->

  {% endblock %}