{% extends 'ams/admin_main/base.html' %}
{% block style %}
<style>
  body {
    overflow-x: hidden;
  }
</style>
{% endblock %}
{% block main %}
  {% load static %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="page-title">
            <div class="title_left">
              <h3>Attendance Correction</h3>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h4>Single Update</h4>
                </div>
                <div class="card-body">
                  <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="month">Select Employee</label>
                          <select name="emp_id" id="month" class="form-control select2" required>
                            <option value="" selected disabled>Please select</option>
                            {% for i in profiles %}
                            <option value="{{i.emp_id}}">{{i.emp_name}} ({{i.emp_id}})</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="date">Select Date</label>
                          <input type="date" name="start" id="date" class="form-control" min="2022-5-1" required>
                        </div>
                      </div>
                      <div class="col-md-12" align="center">
                        <button type="submit" class="form-control mt-4 btn btn-success btn-lg">Submit</button>
                      </div>
                    </div>
                    <input type="hidden" value="single" name="type">
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h4>Bulk Update</h4>
                </div>
                <div class="card-body">
                  <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="emp_id_bulk">Select Employee</label>
                          <select name="emp_id" id="emp_id_bulk" class="form-control select2" multiple required>
                            {% for i in profiles %}
                            <option value="{{i.emp_id}}">{{i.emp_name}} ({{i.emp_id}})</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="start">Start Date</label>
                          <input type="date" name="start" id="start" class="form-control" onchange="mydate(this)" min="2022-05-01" required>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="end">End Date</label>
                          <input type="date" name="end" id="end" class="form-control" min="2022-05-01" required>
                        </div>
                      </div>
                      <div class="col-md-12" align="center">
                        <button type="submit" class="form-control mt-4 btn btn-success btn-lg">Submit</button>
                      </div>
                    </div>
                    <input type="hidden" value="bulk" name="type">
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% if cal %}
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <form action="/ams/admin-attendance-correction-submit" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-3 form-group">
                        <label for="emp_name">Employee Name</label>
                        <input type="text" disabled value="{{cal.emp_name}}" id="emp_name" class="form-control">
                      </div>
                      <div class="col-md-3 form-group">
                        <label for="emp_id">Employee ID</label>
                        <input type="text" disabled value="{{cal.emp_id}}" id="emp_id" class="form-control">
                      </div>
                      <div class="col-md-3 form-group">
                        <label for="emp_desi">Employee Designation</label>
                        <input type="text" disabled value="{{cal.emp_desi}}" id="emp_desi" class="form-control">
                      </div>
                      <div class="col-md-3 form-group">
                        <label for="emp_process">Employee Process</label>
                        <input type="text" disabled value="{{cal.team}}" id="emp_process" class="form-control">
                      </div>
                      <div class="col-md-3 form-group">
                        <label for="date1">Date</label>
                        <input type="text" disabled value="{{cal.date}}" id="date1" class="form-control">
                      </div>
                      <div class="col-md-3 form-group">
                        <label for="cur_att">Current Attendance</label>
                        <input type="text" disabled value="{{cal.att_actual}}" id="cur_att" class="form-control">
                      </div>
                      <div class="col-md-3 form-group">
                        <label for="new_att">Current Attendance</label>
                        <select id="new_att" name="new_att" class="form-control">
                            <option {% if cal.att_actual == "present" %}disabled{% endif %} value="present">Present</option>
                            <option {% if cal.att_actual == "Week OFF" %}disabled{% endif %} value="Week OFF">Week OFF</option>
                            <option {% if cal.att_actual == "Comp OFF" %}disabled{% endif %} value="Comp OFF">Comp OFF</option>
                            <option {% if cal.att_actual == "Half Day" %}disabled{% endif %} value="Half Day">Half Day</option>
                            <option {% if cal.att_actual == "Client OFF" %}disabled{% endif %} value="Client OFF">Client OFF</option>
                            <option {% if cal.att_actual == "Absent" %}disabled{% endif %} value="Absent">Absent</option>
                            <option {% if cal.att_actual == "Training" %}disabled{% endif %} value="Training">Training</option>
                            <option {% if cal.att_actual == "Attrition" %}disabled{% endif %} value="Attrition">Attrition</option>
                            <option {% if cal.att_actual == "Bench" %}disabled{% endif %} value="Bench">Bench</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-12 form-group">
                      <button type="submit" class="btn btn-success form-control" onclick="return confirmm();">Change Attendance</button>
                    </div>
                    <input type="hidden" value="{{cal.id}}" name="id">
                    <input type="hidden" value="single" name="type">
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          {% if bulk_cal %}
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <form action="/ams/admin-attendance-correction-submit" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row pb-3">
                      <div class="col-md-3">
                        <label for="emps">Employees</label>
                        <input type="text" id="emps" disabled value="{{emp_id}}" class="form-control">
                      </div>
                      <div class="col-md-3">
                        <label for="startdate">Start Date</label>
                        <input type="text" id="startdate" disabled value="{{start}}" class="form-control">
                      </div>
                      <div class="col-md-3">
                        <label for="enddate">End Date</label>
                        <input type="text" id="enddate" disabled value="{{end}}" class="form-control">
                      </div>
                      <div class="col-md-3">
                        <label for="new_att1">Change Attendance to?</label>
                        <select name="new_att" id="new_att1" required class="form-control">
                          <option value="" selected disabled>-- Please Select --</option>
                          <option value="Unmarked">Unmarked</option>
                          <option value="present">Present</option>
                          <option value="Week OFF">Week OFF</option>
                          <option value="Comp OFF">Comp OFF</option>
                          <option value="Half Day">Half Day</option>
                          <option value="Client OFF">Client OFF</option>
                          <option value="Absent">Absent</option>
                          <option value="Training">Training</option>
                        </select>
                      </div>
                      <div class="col-md-12 mt-3">
                        <button type="submit" class="btn btn-success form-control" onclick="return confirmm();">Change Attendance</button>
                      </div>
                    </div>
                    <input type="hidden" value="bulk" name="type">
                    <input type="hidden" value="{{start}}" name="start">
                    <input type="hidden" value="{{end}}" name="end">
                    <input type="hidden" value="{{emp_id}}" name="emp_id">
                  </form>
                  <table  id="datatablex" class="table table-striped" style="width: 100% !important;">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Emp Name</th>
                        <th>Emp ID</th>
                        <th>Attendance</th>
                        <th>Team</th>
                        <th>Marked by</th>
                        <th>Applied On</th>
                        <th>RM1</th>
                        <th>RM2</th>
                        <th>RM3</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Date</th>
                        <th>Emp Name</th>
                        <th>Emp ID</th>
                        <th>Attendance</th>
                        <th>Team</th>
                        <th>Marked by</th>
                        <th>Applied On</th>
                        <th>RM1</th>
                        <th>RM2</th>
                        <th>RM3</th>

                      </tr>
                    </tfoot>
                    <tbody>
                      {% for i in bulk_cal %}
                      <tr>
                          <td>{{i.date}}</td>
                          <td>{{i.emp_name}}</td>
                          <td>{{i.emp_id}}</td>
                          <td style="text-transform: capitalize;">{{i.att_actual}}</td>
                          <td>{{i.team}}</td>
                          <td>{{i.appoved_by}}</td>
                          <td>{{i.approved_on}}</td>
                          <td>{{i.rm1}}</td>
                          <td>{{i.rm2}}</td>
                          <td>{{i.rm3}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- /page content -->

  {% endblock %}

{% block script %}
<script type="text/javascript">
      $today = new Date();
      $today = moment($today).format('YYYY-MM-DD');
      function mydate(e) {
        $start = $('#start').val();
        $end = $('#end');
        $end.attr("min", $start);
      }
</script>
{% endblock %}