<!doctype html>
<html lang="en" dir="ltr">
{% load static %}
<!-- soccer/project/login.html  07 Jan 2020 03:42:43 GMT -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="icon" href="favicon.ico" type="image/x-icon"/>

<title>ECPL AMS</title>

<!-- Bootstrap Core and vandor -->
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" />

<!-- Core css -->
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/css/theme1.css' %}"/>

<script src="https://kit.fontawesome.com/4a95aa7adc.js" crossorigin="anonymous"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>

<body class="font-montserrat">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<div id="main_content">
    <div id="left-sidebar" class="sidebar ">
        <div>
            <img src="{% static 'assets/images/ecpl-logo-new.png' %}" alt="">
        </div>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <div style="margin-top:50px;">
                <small>Name</small>
                <p style="font-weight: bold;color: #3e4554e3;">{{emp.emp_name}}</p>
                <small>Emp ID</small>
                <p style="font-weight: bold;color: #3e4554e3;">{{emp.emp_id}}</p>
                <small>Designation</small>
                <p style="font-weight: bold;color: #3e4554e3;">{{emp.emp_desi}}</p>
            </div>
            <!--
            <ul class="metismenu">
                <li class="g_heading">Project</li>
                <li class="active"><a href="index-2.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>                        
                <li><a href="project-list.html"><i class="fa fa-list-ol"></i><span>Project list</span></a></li>
                <li><a href="project-taskboard.html"><i class="fa fa-calendar-check-o"></i><span>Taskboard</span></a></li>
                <li><a href="project-ticket.html"><i class="fa fa-list-ul"></i><span>Ticket List</span></a></li>
                <li><a href="project-ticket-details.html"><i class="icon-tag"></i><span>Ticket Details</span></a></li>
                <li><a href="project-clients.html"><i class="fa fa-user"></i><span>Clients</span></a></li>
                <li><a href="project-todo.html"><i class="fa fa-check-square-o"></i><span>Todo List</span></a></li>
                <li class="g_heading">App</li>
                <li><a href="app-calendar.html"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
                <li><a href="app-chat.html"><i class="fa fa-comments"></i><span>Chat</span></a></li>
                <li><a href="app-contact.html"><i class="fa fa-address-book"></i><span>Contact</span></a></li>
                <li><a href="app-filemanager.html"><i class="fa fa-folder"></i><span>FileManager</span></a></li>
                <li><a href="app-setting.html"><i class="fa fa-gear"></i><span>Setting</span></a></li>
                <li><a href="page-gallery.html"><i class="fa fa-photo"></i><span>Gallery</span></a></li>
                <li>
                    <a href="javascript:void(0)" class="has-arrow arrow-c"><i class="fa fa-lock"></i><span>Authentication</span></a>
                    <ul>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="forgot-password.html">Forgot password</a></li>
                        <li><a href="404.html">404 error</a></li>
                        <li><a href="500.html">500 error</a></li>   
                    </ul>
                </li>
                <li class="g_heading">Support</li>
                <li><a href="javascript:void(0)"><i class="fa fa-support"></i><span>Need Help?</span></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-tag"></i><span>ContactUs</span></a></li>
            </ul>
            -->
        </nav>        
    </div>

    <div class="page">
        <div id="page_top" class="section-body top_dark">
            <div class="container-fluid">
                <div class="page-header">
                    <div class="left">
                        <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fa  fa-align-left" style="color:#fff"></i></a>
                        <h1 class="page-title" style="color:white !important">{{emp.emp_process}}</h1>
                    </div>
                    <div class="right">
                        <div style="margin-right:10px">

                        </div>
                        <div class="input-icon xs-hide mr-4">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-icon-addon"><i class="fe fe-search"></i></span>
                        </div>
                        <div class="notification d-flex">
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-primary nav-unread"></span></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <!--
                                    <ul class="list-unstyled feeds_widget">
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-check"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title text-danger">Issue Fixed <small class="float-right text-muted">11:05</small></h4>
                                                <small>WE have fix all Design bug with Responsive</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-user"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">New User <small class="float-right text-muted">10:45</small></h4>
                                                <small>I feel great! Thanks team</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-thumbs-o-up"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">7 New Feedback <small class="float-right text-muted">Today</small></h4>
                                                <small>It will give a smart finishing to your site</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-question-circle"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title text-warning">Server Warning <small class="float-right text-muted">10:50</small></h4>
                                                <small>Your connection is not private</small>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="feeds-left"><i class="fa fa-shopping-cart"></i></div>
                                            <div class="feeds-body">
                                                <h4 class="title">7 New Orders <small class="float-right text-muted">11:35</small></h4>
                                                <small>You received a new oder from Tina.</small>
                                            </div>
                                        </li>
                                    </ul>
                                    -->
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">Mark all as read</a>
                                </div>
                            </div>
                            <div class="dropdown d-flex">
                                <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-2" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" href="/ams/logout"><i class="dropdown-icon fe fe-log-out"></i> Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body mt-3">
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="mb-4">

                        </div>                        
                    </div>
                </div>
                <div class="row clearfix row-deck">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div style="margin:50px 0px;">
                            <span>Welcome</span>
                            <h4>{{emp_name}} !</h4>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6"></div>

                    <div class="col-xl-2 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">RM1</h3>
                            </div>
                            <div class="card-body">
                                <h5>{{emp.emp_rm1}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">RM2</h3>
                            </div>
                            <div class="card-body">
                                <h5>{{emp.emp_rm2}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">RM3</h3>
                            </div>
                            <div class="card-body">
                                <h5>{{emp.emp_rm3}}</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix row-deck">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Attendance</h3>
                            </div>
                            <div class="card-body">
                                <div>
                                    {% if date == 'Applied' %}
                                        <p>Applied Already</p>
                                    {% else %}

                                    <form action="/ams/apply-attendance" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="">Date</label>
                                        <input type="text" name="date" id="" readonly value="{{date}}">
                                        <label for="">Attendance</label>
                                        <select name="att_applied" id="">
                                            <option value="present">Present</option>
                                            <option value="Week OFF">Week OFF</option>
                                            <option value="Comp OFF">Comp OFF</option>
                                            <option value="Half Day">Half Day</option>
                                            <option value="PL">PL</option>
                                            <option value="Training">Training</option>
                                            <option value="Sick Leave">Sick Leave</option>
                                            <option value="Maternity Leave">Maternity Leave</option>
                                            <option value="Holiday">Holiday</option>
                                        </select>

                                        <input type="hidden" name="rm1" value="{{emp.emp_rm1}}">
                                        <input type="hidden" name="rm2" value="{{emp.emp_rm2}}">
                                        <input type="hidden" name="rm3" value="{{emp.emp_rm3}}">
                                        <button type="submit" class="btn btn-secondary" style="font-size: 10px;margin-left: 10px;">Apply</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Attendance Status</h3>
                            </div>
                            <div class="card-body">
                                <div>
                                    <table class="tbl">
                                        <tr>
                                            <th>Date</th>
                                            <th>Applied For</th>
                                            <th>Status</th>
                                            <th>Actual Status</th>
                                            <th>Reviewed By</th>
                                        </tr>
                                    {% for c in cal %}
                                        <tr>
                                            <td>{{c.date}}</td>
                                            <td>{{c.att_applied}}</td>
                                            {% if c.approved_status == False %}
                                                <td>Pending</td>
                                            {% else %}
                                            <td>{{c.att_approved}}</td>
                                            {% endif %}
                                            <td>{{c.att_actual}}</td>
                                            <td>{{c.appoved_by}}</td>
                                        </tr>
                                    {% endfor %}
                                     </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body" style="padding:50px 0px">
                <div class="container-fluid">
                    <h4>Month Calendar</h4>
                    <div>
                        {% for c in month_cal %}
                                    <span>{{c.dt}}</span>
                                    {% if c.st == 'Unmarked' %}
                                    <span style="color:red">{{c.st}}</span>
                                    {% else %}
                                    <span style="color:Green">{{c.st}}</span>
                                    {% endif %}
                                    <span style="margin:0px 20px">//</span>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>    
</div>


<script src="{% static 'assets/bundles/lib.vendor.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/apexcharts.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/counterup.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/knobjs.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/c3.bundle.js' %}"></script>
<script src="{% static 'assets/js/core.js' %}"></script>
<script src="{% static 'assets/js/page/project-index.js' %}"></script>
</body>

<!-- soccer/project/  07 Jan 2020 03:37:22 GMT -->
</html>
