{% extends 'ams/base.html' %}
{% block main %}
{% load static %}
<style>
  .monthly-prev, .monthly-next{
    display:none;
  }
</style>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title clearfix" style="border: 0; background-color: #fff;">
              <a href="/ams/agent-dashboard" class="site_title">
                <img src="{% static 'assets/images/ecpl-logo-new.png' %}" class="imgmd" style="width: 100%">
                <img src="{% static 'assets/images/expertcallers-icon.png' %}" class="imgsm" style="width: 100%">
              </a>
            </div>
            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{{request.user.profile.img.url}}" alt="..." class="img-circle profile_img">
              </div>
                <div class="profile_info">
                    <h2 style="font-weight: 600; color: #1ABB9C;">{{request.user.profile.emp_name}}</h2>
                    <h2 style="font-weight: 600; font-size:14px; color: #fff;">{{request.user.profile.emp_id}}</h2>
                    <h2 style="font-size:14px; color: #fff;">{{request.user.profile.emp_desi}}</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a href="/ams/agent-dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
                  {% if request.user.profile.emp_id in admin_list %}
                  {% include 'ams/admin_urls.html' %}
                  {% endif %}

                  {% if request.user.profile.emp_id in administration_list %}
                  {% include 'ams/administration_urls.html' %}
                  {% endif %}
                  <li><a href="/ams/attendance-calendar"><i class="fa fa-calendar"></i> Attendance Calendar</a></li>
                  <li><a href="/ams/ams-apply_leave"><i class="fa fa-calendar-times"></i> Leaves</a></li>
                  <li><a href="/ams/ams-agent-settings"><i class="fa fa-gears"></i> Settings</a></li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Logout" href="/ams/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    <img src="{{user.profile.img.url}}" alt="">{{emp.emp_name}}
                  </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="/ams/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row pb-3">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      <h2>RM1</h2>
                    </div>      
                    <div class="card-body">
                      <h5>{{emp.emp_rm1}}</h5>
                    </div>              
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      <h2>RM2</h2>
                    </div>      
                    <div class="card-body">
                      <h5>{{emp.emp_rm2}}</h5>
                    </div>              
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-header">
                      <h2>RM3</h2>
                    </div>      
                    <div class="card-body">
                      <h5>{{emp.emp_rm3}}</h5>
                    </div>              
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h2>Attendance Report</h2>
                    </div>
                    <div class="card-body">
                      <form action="/ams/view-emp-attendance" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input value="self" type="hidden" name="emp_id">
                        <div class="col-md-6 form-group">
                          <label for="start_date">Start Date</label>
                          <input type="date" id="start_date" min="2022-04-01" onchange="mydate(this);" name="start_date" required class="form-control" value="" />
                        </div>
                        <div class="col-md-6 form-group">
                          <label for="end_date">End Date</label>
                          <input type="date" id="end_date" onchange="mydate(this);" name="end_date" required class="form-control" value="" />
                        </div>
                        <div class="col-md-12 form-group">
                          <button class="form-control btn btn-primary">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h2>Leave Status</h2>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th>Leave Dates</th>
                            <th>TL Status</th>
                            <th>Manager Status</th>
                            <th>Final Status</th>
                            <th>Agent Comments</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for c in leave_hist %}
                          <tr>
                            <td>{{c.start_date}} - {{c.end_date}}</td>
                            <td>{% if c.tl_status %}{{c.tl_status}}{% else %}Pending{% endif %}</td>
                            <td>
                              {% if c.manager_status %}
                                {{c.manager_status}}
                              {% elif c.tl_status == "Rejected" %}
                                Rejected by RM1
                              {% else %}
                                Pending
                              {% endif %}
                            </td>
                            <td>
                                {% if c.status %}
                                <p>{{c.status}}</p>
                                {% else %}
                                <p>Pending</p>
                                {% endif %}
                            </td>
                            <td>{{c.agent_reason}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="text-center">
            ECPL CC Team
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
      $today = new Date();
      $today = moment($today).format('YYYY-MM-DD');
      $('#end_date').attr("max", $today);
      $('#start_date').attr("max", $today);
      function mydate(e) {
        $start = $('#start_date').val();
        $end = $('#end_date');
        $end.attr("min", $start);
      }
    </script>
{% endblock %}

