
{% extends 'ams/base_hr_new.html' %}
{% block main %}
  {% load static %}

 <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" >
        </div>
          <!-- /top tiles -->

        <div class="page-title">
          <div class="title_left">
            <h3>Add New User</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <form method="POST" action="/ams/add-new-user" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="">Onboarding Details</label>
                        <select name="id" class="form-control select2" required>
                          <option value="" selected disabled>Please select</option>
                          {% for o in onboarding %}
                          <option value="{{o.id}}" class="form-control">{{o.emp_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="emp_name">Employee Name</label>
                        <input type="text" name="emp_name" id="emp_name" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="emp_id">Employee ID</label>
                        <input type="text" name="emp_id" value="{{last_emp_id}}" id="emp_id" class="form-control"  readonly>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="emp_doj">Date of Joining</label>
                        <input type="date" name="emp_doj" id="emp_doj" class="form-control" required>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12">
                            <label for="emp_desg">Designation</label>
                            <select name="emp_desg" id="emp_desg" class="form-control select2" required>
                             <option value="" selected disabled>Please select</option>
                              {% for a in all_data %}
                              <option value="{{a.emp_desi}}">{{a.emp_desi}}</option>
                              {% endfor %}
                            </select>
                            <center>
                              <button type="button" class="btn btn-sm btn-primary mt-2" disabled data-toggle="modal" data-target="#add_desg">Add New designation</button>
                            </center>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="emp_rm1">RM1</label>
                        <select name="emp_rm1_id" id="emp_rm1" class="form-control select2" required>
                          <option value="" selected disabled>Please select</option>
                          {% for r in rms %}
                          <option value="{{r.emp_id}}">{{r.emp_name}} / {{r.emp_id}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="emp_rm2">RM2</label>
                        <select name="emp_rm2_id" id="emp_rm2" class="form-control select2" required>
                          <option value="" selected disabled>Please select</option>
                          {% for r in rms %}
                          <option value="{{r.emp_id}}">{{r.emp_name}} / {{r.emp_id}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="emp_rm3">RM3</label>
                        <select name="emp_rm3_id" id="emp_rm3" class="form-control select2" required>
                          <option value="" selected disabled>Please select</option>
                          {% for r in rms %}
                          <option value="{{r.emp_id}}">{{r.emp_name}} / {{r.emp_id}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="emp_pro">Process</label>
                        <select name="emp_pro" id="emp_pro" class="form-control select2" required>
                          <option value="" selected disabled>Please select</option>
                          {% for a in all_team %}
                              <option value="{{a.name}}">{{a.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12" align="center">
                      <button type="submit" class="btn btn-success btn-lg" onclick="return confirmm();">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div>
        </div>


        </div>
        <!-- /page content -->


    <!-- Start New Designation Pop-Up -->
      <div class="modal fade" id="add_desg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add New Designation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="POST" action="/ams/add-new-designation" enctype="multipart/form-data">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="new_desg">Designation Name</label>
                      <input type="text" name="new_desg" id="new_desg" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" onclick="return confirmm();" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- End New Designation Pop-Up -->
 {% endblock %}