{% extends 'ams/base_hr_new.html' %}
{% block main %}
{% load static %}

<!-- page content -->
        <div class="right_col pb-4" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="welcome">
                <p>Welcome</p>
                <h3>{{emp.emp_name}}</h3>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM1</h2>
                    </div>
                    <div class="card-body">
                      <h6>{{emp.emp_rm1}}</h6>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM2</h2>
                    </div>
                    <div class="card-body">
                      <h6>{{emp.emp_rm2}}</h6>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM3</h2>
                    </div>
                    <div class="card-body">
                      <h6>{{emp.emp_rm3}}</h6>
                    </div>
                  </div>
                </div>


              {% if request.user.profile.emp_desi in hr_tl_am_list %}
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      {% if request.user.profile.emp_desi in hr_om_list %}
                      <h2>Initial Leave Requests</h2>
                      {% else %}
                      <h2>Leave Requests</h2>
                      {% endif %}
                    </div>
                    <div class="card-body">
                      <a href="/ams/view-leave-list"><h1 style="margin: 0px !important;">{{leave_req_count}}</h1></a>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if request.user.profile.emp_desi in hr_om_list %}
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>Mapping Tickets</h2>
                    </div>
                    <div class="card-body">
                      <a href="/ams/view-mapping-tickets"><h1 style="margin: 0px !important;">{{map_tickets_counts}}</h1></a>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2> Final Leave Requests</h2>
                    </div>
                    <div class="card-body">
                      <a href="/ams/view-leave-request-mgr"><h1 style="margin: 0px !important;">{{leave_req_count_final}}</h1></a>
                    </div>
                  </div>
                </div>

                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>Leave Appeal</h2>
                    </div>
                    <div class="card-body">
                      <a href="/ams/view-leave-escalation-mgr"><h1 style="margin: 0px !important;">{{leave_esc_count}}</h1></a>
                    </div>
                  </div>
                </div>
              {% endif %}
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Total Users" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-user"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">All Users</h2>
                    <h1>{{all_users_count}}</h1>
                    <a href="/ams/viewusers" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Total Teams" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-users"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">All Teams</h2>
                    <h1>{{all_team_count}}</h1>
                    <a href="/ams/view-all-teams" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>

            {% if request.user.profile.emp_desi in hr_om_list %}
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Attendance Requests" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-calendar-alt"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Attendance Requests</h2>
                    <h1 id="shrink">{{att_requests_count}}</h1>
                    <a href="/ams/approve-att-correction-req" title="Style Builder"  class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            {% endif %}

            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h4>Attendance Report</h4>
                </div>
                <div class="card-body">
                  <form action="/ams/team-attendance-report" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label for="emp_name">Team Name</label>
                        <select id="emp_name" name="team_name" class="form-control select2" required>
                          <option selected disabled value="">Select from below</option>
                          <option value="All Team">All Team</option>
                          {% for t in team %}
                          <option value="{{t.id}}">{{t.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="start_date">Start Date</label>
                        <input type="date" required id="start_date" onchange="mydate(this)" name="start_date" class="form-control" value="" />
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" required id="end_date" onchange="mydate(this)" name="end_date" class="form-control" value="" />
                      </div>
                      <div class="col-md-12 form-group">
                        <button class="form-control btn btn-primary">Download</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>



        </div>
        <!-- /page content -->
<script>
  function runn(){
    alert("Coming Soon");
  }
</script>

{% endblock %}