{% extends 'ams/base_common.html' %}

{% block main %}
  {% load static %}

        <!-- page content -->
        <div class="right_col" role="main">

          <div class="page-title">
            <div class="title_left">
              <h3>Job Requisiotion Form</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2>Job Requisiotion Form</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="req_date">Requested Date</label>
                          <input type="text" readonly value="{{job.req_date}}" id="req_date" required class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="hc_required">HC Required</label>
                          <input type="text" readonly value="{{job.hc_req}}" id="hc_required" required class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="req_rais_by">Request Raised By</label>
                          <input type="text" readonly value="{{job.req_raised_by}}" id="req_rais_by" required class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="department">Department</label>
                          <input type="text" readonly value="{{job.department}}" id="department" required class="form-control">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="designation">Role/Designation</label>
                          <input type="text" readonly value="{{job.designation}}" id="designation" required class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="pro_type_1">Process Type 1</label>
                          <input type="text" readonly value="{{job.process_typ_one}}" id="pro_type_1" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="pro_type_2">Process Type 2</label>
                          <input type="text" readonly value="{{job.process_typ_two}}" id="pro_type_2" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="pro_type_3">Process Type 3</label>
                          <input type="text" readonly value="{{job.process_typ_three}}" id="pro_type_3" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="salary">Salary Range</label>
                          <div style="width:100%; display: inline-flex;">
                            <input type="text" readonly value="{{job.salary_rang_frm}}" id="salary" class="form-control" placeholder="From">
                            <input type="text" readonly value="{{job.salary_rang_to}}" id="salaryto" class="form-control" placeholder="To">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="quali">Qualification</label>
                          <input type="text" readonly value="{{job.qualification}}" id="quali" class="form-control">
                          <input type="text" readonly value="{{job.other_quali}}" id="other_quali" class="form-control  mt-2" placeholder=" Please Enter Your Qualification">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="skills">Skills Set</label>
                          <textarea class="form-control" readonly id="skills" rows="3" placeholder="Please Enter your Skills Set and if multiple seperate by comma." required>{{job.skills_set}}</textarea>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="lang">Languages</label>
                          <textarea class="form-control" readonly id="lang" rows="3" >{{job.languages}}</textarea>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="shift">Shift Timing</label>
                          <input type="text" readonly value="{{job.shift_timing}}" id="shift" class="form-control">
                        </div>
                        <div id="shift_time" style="width:100%; display: inline-flex;" class="mt-2 d-none">
                          <input type="text" readonly id="shift_from" readonly class="form-control" value="{{job.shift_timing_frm}}">
                          <input type="text" readonly id="shift_to" readonly class="form-control" value="{{job.shift_timing_to}}">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="work_from">Working Days</label>
                          <div style="width:100%; display: inline-flex;">
                            <input type="text" readonly value="{{job.working_from}}" id="work_from" class="form-control" placeholder="From">
                            <input type="text" readonly value="{{job.working_to}}" id="work_to" class="form-control" placeholder="To">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="off_from">Week Off</label>
                          <input type="text" name="num_off" id="num_off" value="{{job.week_no_days}}" class="form-control" readonly>
                          <div id="week_off" style="width:100%; display: inline-flex;" class="mt-2 d-none">
                            <input type="text" readonly value="{{job.week_from}}" id="off_from" class="form-control" placeholder="From">
                            <input type="text" readonly value="{{job.week_to}}" id="off_to" class="form-control" placeholder="To">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="req_type">Requisition Type</label>
                          <input type="text" readonly value="{{job.requisition_typ}}" id="req_type" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <hr>
                      </div>
                    </div>
                <form method="POST" action="/ams/update-job-status/{{job.id}}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="cand_name">Candidate Name</label>
                          <textarea required name="cand_name" id="cand_name" class="form-control">{{job.candidate_name}}</textarea>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="clos_date">Closure Date</label>
                          <input type="hidden" value="{{job.closure_date}}" id="myclos_date">
                          <input type="date" value="{{job.closure_date}}" required name="clos_date" id="clos_date" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="source">Source</label>
                          <input type="hidden" id="mysource" value="{{job.source}}">
                          <div id="source" style="display: block; width: 100%;">
                            <input type="radio" required class="source" name="source" onchange="esource(this)" id="sou_walk" value="Walk In">
                            <label for="sou_walk">Walk In</label>
                            <input type="radio" required class="source" name="source" onchange="esource(this)" id="sou_referral" value="Employee Referral">
                            <label for="sou_referral">Employee Referral</label><br>
                            <input type="radio" required class="source" name="source" onchange="esource(this)" id="sou_social" value="Social">
                            <label for="sou_social">Social</label>
                            <input type="radio" required class="source" name="source" onchange="esource(this)" id="sou_partner" value="Partners (Agency)">
                            <label for="sou_partner">Partners (Agency)</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 d-none" id="pleasefill">
                        <div class="form-group">
                          <p>Please Fill</p>
                          <div id="source1">
                            <div id="part_select" class="d-none">
                              <label for="partner">Select From List</label>
                              <input type="hidden" id="mypartner" value="{{job.source_partners}}">
                              <select class="form-control select2" name="partner" id="partner" style="width:100%;">
                                <option value="" selected disabled>Please Choose</option>
                                <option value="Cappricous">Cappricous</option>
                                <option value="V4u">V4u</option>
                                <option value="Yukthi">Yukthi</option>
                                <option value="Amino Infotech">Amino Infotech</option>
                                <option value="ShubadraJobs">ShubadraJobs</option>
                                <option value="Delphic">Delphic</option>
                                <option value="E & Q">E & Q</option>
                                <option value="Brain & Skills">Brain & Skills</option>
                                <option value="NJ">NJ</option>
                                <option value="Bright E">Bright E</option>
                                <option value="Swastik">Swastik</option>
                                <option value="Allience Manpower">Allience Manpower</option>
                                <option value="Blue collar">Blue collar</option>
                                <option value="Futuretech">Futuretech</option>
                                <option value="Quick consultancy">Quick consultancy</option>
                                <option value="Vijay consultancy">Vijay consultancy</option>
                                <option value="Career mint">Career mint</option>
                                <option value="Job Zio">Job Zio</option>
                                <option value="Jobzion Consultants">Jobzion Consultants</option>
                                <option value="Laksh Agency">Laksh Agency</option>
                                <option value="I5 Career">I5 Career</option>
                                <option value="Millenium Jobs">Millenium Jobs</option>
                                <option value="Ahmins Consultancy">Ahmins Consultancy</option>
                              </select>
                            </div>
                            <input type="text" value="{% if job.source_empref_emp_name %}{{job.source_empref_emp_name}}{% endif %}" name="emp_name" id="emp_name" class="form-control d-none" placeholder="Employee Name">
                            <input type="text" value="{% if job.source_empref_emp_id %}{{job.source_empref_emp_id}}{% endif %}" name="emp_id" id="emp_id" class="form-control d-none" placeholder="Employee ID">
                            <div id="social" class="d-none" style="display: block; width: 100%;">
                              <input type="hidden" id="mysocial" value="{{job.source_social}}">
                              <input type="radio" class="social" name="social" id="fb" value="FB">
                              <label for="fb">FB</label>
                              <input type="radio" class="social" name="social" id="insta" value="Insta">
                              <label for="insta">Insta</label><br>
                              <input type="radio" class="social" name="social" id="news" value="News Paper">
                              <label for="news">News Paper</label>
                              <input type="radio" class="social" name="social" id="linkedin" value="LinkedIn">
                              <label for="linkedin">LinkedIn</label><br>
                              <input type="radio" class="social" name="social" id="website" value="Website">
                              <label for="website">Website</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="rec_peo">No of people recruited</label>
                          <input type="number" onchange="enableStatus(this);" required name="rec_peo" min="1" max="{{job.hc_req}}" id="rec_peo" class="form-control" value="{{job.recruited_people}}">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="req_status">Requisition Status</label>
                          <select name="req_status" id="req_status" class="form-control">
                            <option value="Pending">Pending</option>
                            <option value="Completed">Completed</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="can_remark">Candidates Remarks</label>
                          <textarea name="can_remark" rows="3" id="can_remark" class="form-control" required>{{job.candidate_remark}}</textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-12" align="center">
                        <button type="submit" class="btn btn-success btn-lg" onclick="return confirmm();" >Submit</button>
                      </div>
                    </div>
                </form>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


  <script type="text/javascript">
    function enableStatus(e){
      var hc = document.getElementById('hc_required').value;
      var status = document.getElementById('req_status');
      if (e.value==hc) {
        status.removeAttribute("disabled")
      } else {
        status.setAttribute("disabled","disabled")
      }
    }
    function esource(e) {
      var soc = document.querySelector('input[name="source"]:checked').value;
      document.getElementById('pleasefill').classList.remove("d-none");
      if (soc == "Walk In") {
        document.getElementById('pleasefill').classList.add("d-none");
      }
      if (soc == "Employee Referral") {
        document.getElementById('emp_name').classList.remove("d-none");
        document.getElementById('emp_id').classList.remove("d-none");
        document.getElementById('emp_name').setAttribute("required","required");
        document.getElementById('emp_id').setAttribute("required","required");
      } else {
        document.getElementById('emp_name').classList.add("d-none");
        document.getElementById('emp_id').classList.add("d-none");
        document.getElementById('emp_name').removeAttribute("required","required");
        document.getElementById('emp_id').removeAttribute("required","required");
      }
      if ( soc == "Social") {
        document.getElementById('social').classList.remove("d-none");
        document.getElementById('fb').setAttribute("required","required");
        document.getElementById('insta').setAttribute("required","required");
        document.getElementById('news').setAttribute("required","required");
        document.getElementById('linkedin').setAttribute("required","required");
        document.getElementById('website').setAttribute("required","required");
      }
      else {
        document.getElementById('social').classList.add("d-none");
        document.getElementById('fb').removeAttribute("required","required");
        document.getElementById('insta').removeAttribute("required","required");
        document.getElementById('news').removeAttribute("required","required");
        document.getElementById('linkedin').removeAttribute("required","required");
        document.getElementById('website').removeAttribute("required","required");
      }
      if (soc == "Partners (Agency)") {
        document.getElementById('part_select').classList.remove("d-none");
        document.getElementById('partner').setAttribute("required","required");
      } else {
        document.getElementById('part_select').classList.add("d-none");
        document.getElementById('partner').removeAttribute("required","required");
      }
    }
    </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script>
        var npr1 = document.getElementById('rec_peo').value;
        var hc1 = document.getElementById('hc_required').value;
        var status1 = document.getElementById('req_status');
        if (npr1 != hc1) {
          status1.setAttribute("disabled","disabled");
        }

        var part = document.getElementById('mypartner').value;
        var partop = document.getElementById('partner').options;
        for (var j=0; j < partop.length; j++){
          if(partop[j].value === part){
            partop[j].setAttribute("selected","selected");
            break;
          }
        }


        var sourceva = document.getElementById('mysource').value;
        var sour = document.getElementsByClassName("source");
        for (var j = 0; j < sour.length ; j++) {
          if ((sourceva == sour[j].value)) {
            sour[j].setAttribute("checked","checked");
          }
        }

        var socialval = document.getElementById('mysocial').value;
        var soci = document.getElementsByClassName("social");
        for (var j = 0; j < soci.length ; j++) {
          if ((socialval == soci[j].value)) {
            soci[j].setAttribute("checked","checked");
          }
        }

        var date1 = document.getElementById('myclos_date').value;
        document.getElementById('clos_date').value = moment(date1).format('YYYY-MM-DD');

        $( document ).ready(function() {
          if (sourceva == "Employee Referral") {
            document.getElementById('pleasefill').classList.remove("d-none");
            document.getElementById('emp_name').classList.remove("d-none");
            document.getElementById('emp_id').classList.remove("d-none");
          }
          if ( sourceva == "Social") {
            document.getElementById('social').classList.remove("d-none");
            document.getElementById('pleasefill').classList.remove("d-none");
          }
          if (sourceva == "Partners (Agency)") {
            document.getElementById('pleasefill').classList.remove("d-none");
            document.getElementById('part_select').classList.remove("d-none");
          }
        });


   </script>


    <script type="text/javascript">
      var qu = document.getElementById('quali').value;
      if (qu == "Others") {
        document.getElementById('other_quali').classList.remove("d-none");
      } else {
        document.getElementById('other_quali').classList.add("d-none");
      }
      var e = document.getElementById('num_off');
      var week_off = document.getElementById('week_off');
      if (e.value > 1) {
        week_off.classList.remove("d-none");
      } else {
        week_off.classList.add("d-none");
      }
      var shift_time = document.getElementById('shift_time');
      var f = document.getElementById('shift');
      if (f.value == "Fixed - Timing") {
        shift_time.classList.remove("d-none");
      } else {
        shift_time.classList.add("d-none");
      }


      $( document ).ready(function() {
        var soc = document.getElementById('source').value;
        if (soc == "Employee Referral") {
          document.getElementById('emp_val').classList.remove("d-none");
        }
        if ( soc == "Social") {
          document.getElementById('social_val').classList.remove("d-none");
        }
        if (soc == "Partners (Agency)") {
          document.getElementById('partner_val').classList.remove("d-none");
        }
      });

    </script>
{% endblock %}