{% extends 'ams/base-manager.html' %}
{% block main %}
{% load static %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row welcometop">
            <div class="col-md-12">
              <div class="welcome">
                <p>Welcome</p>
                <h3>{{emp.emp_name}}</h3>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM1</h2>
                    </div>      
                    <div class="card-body">
                      <h6>{{emp.emp_rm1}}</h6>
                    </div>              
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM2</h2>
                    </div>      
                    <div class="card-body">
                      <h6>{{emp.emp_rm2}}</h6>
                    </div>              
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM3</h2>
                    </div>      
                    <div class="card-body">
                      <h6>{{emp.emp_rm3}}</h6>
                    </div>              
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>Mapping Tickets</h2>
                    </div>      
                    <div class="card-body">
                      <a href="/ams/view-mapping-tickets"><h1 style="margin: 0px !important;">{{map_tickets_counts}}</h1></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>Leave Requests</h2>
                    </div>
                    <div class="card-body">
                      <a href="/ams/view-leave-request-mgr"><h1 style="margin: 0px !important;">{{leave_req_count}}</h1></a>
                    </div>
                  </div>
                </div>


                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>Leave Escalation</h2>
                    </div>
                    <div class="card-body">
                      <a href="/ams/view-leave-escalation-mgr"><h1 style="margin: 0px !important;">{{leave_esc_count}}</h1></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row mb-4 mt-4">

            <div class="col-md-3">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Widgets" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-users"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Employees</h2>
                    <h1>{{count_all_emps}}</h1>
                    <a href="/ams/view-all-employees-oms/Agent" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Widgets" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-user"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">TL's</h2>
                    <h1>{{all_tls_count}}</h1>
                    <a href="/ams/view-all-employees-oms/TL" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Widgets" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-user"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">AM's</h2>
                    <h1>{{all_ams_count}}</h1>
                    <a href="/ams/view-all-employees-oms/AM" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <!--  
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Widgets" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-level-down"></i>
                  </span>
                  <div class="card-data widgetCardData" style="background: #dcdcdc;">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Attrition %</h2>
                    <h1 id="attrition"><span style="font-size:18px">Coming Soon</span></h1>
                    <a href="#" title="Style Builder" class="anchor btn btn-default disabled" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Widgets" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-american-sign-language-interpreting"></i>
                  </span>
                  <div class="card-data widgetCardData" style="background: #dcdcdc;">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Shrink %</h2>
                     <h1 id="attrition"><span style="font-size:18px">Coming Soon</span></h1>
                    <a href="#" title="Style Builder" class="anchor btn disabled btn-default" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          -->
            <div class="col-md-3">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Attendance Requests" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-calendar-alt"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Attendance Requests</h2>
                    <h1 id="shrink">{{att_requests_count}}</h1>
                    <a href="/ams/approve-att-correction-req" title="Style Builder"  class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View All
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>

          </div>     

          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h4>Attendance Report</h4>
                </div>
                <div class="card-body">
                  <form action="/ams/view-emp-attendance" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label for="emp_name">Employee Name</label>
                        <select id="emp_name" name="emp_id" class="form-control select2" required>
                          <option value="All">All</option>
                          {% for i in all_emp %}
                          <option value="{{i.emp_id}}">{{i.emp_name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="start_date">Start Date</label>
                        <input type="date" id="start_date" onchange="mydate(this);" name="start_date" required class="form-control" value="" />
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" id="end_date" onchange="mydate(this);" name="end_date" required class="form-control" value="" />
                      </div>
                      <div class="col-md-12 form-group">
                        <button class="form-control btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row mt-3">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h2>Month Calendar - {{emp.emp_name}}</h2>
                    </div>
                    <div class="card-body">
                      <div class="monthly" id="mycalendarid"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="text-center">
            ECPL CC Team
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>




{% endblock %}