{% extends 'ams/base_common.html' %}
{% block main %}
{% load static %}
<style type="text/css">
       * {
        margin:0;
        padding:0;
       }
      .tree ul {
          padding-top: 20px; position: relative;

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      }

      .tree li {
        float: left; text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 5px 0 5px;

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      }

      /*We will use ::before and ::after to draw the connectors*/

      .tree li::before, .tree li::after{
        content: '';
        position: absolute; top: 0; right: 50%;
        border-top: 1px solid #ccc;
        width: 50%; height: 20px;
      }
      .tree li::after{
        right: auto; left: 50%;
        border-left: 1px solid #ccc;
      }

      /*We need to remove left-right connectors from elements without
      any siblings*/
      .tree li:only-child::after, .tree li:only-child::before {
        display: none;
      }

      /*Remove space from the top of single children*/
      .tree li:only-child{ padding-top: 0;}

      /*Remove left connector from first child and
      right connector from last child*/
      .tree li:first-child::before, .tree li:last-child::after{
        border: 0 none;
      }
      /*Adding back the vertical connector to the last nodes*/
      .tree li:last-child::before{
        border-right: 1px solid #ccc;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
      }
      .tree li:first-child::after{
        border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
      }

      /*Time to add downward connectors from parents*/
      .tree ul ul::before{
        content: '';
        position: absolute; top: 0; left: 50%;
        border-left: 1px solid #ccc;
        width: 0; height: 20px;
      }

      .tree li a{
        border: 1px solid #ccc;
        padding: 5px 10px;
        text-decoration: none;
        color: #666;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      }

      /*Time for some hover effects*/
      /*We will apply the hover effect the the lineage of the element also*/
      .tree li a:hover, .tree li a:hover+ul li a {
        background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
      }
      /*Connector styles on hover*/
      .tree li a:hover+ul li::after,
      .tree li a:hover+ul li::before,
      .tree li a:hover+ul::before,
      .tree li a:hover+ul ul::before{
        border-color:  #94a0b4;
      }
    </style>


          <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <h2>Mapping Hierarchy <span style="font-size:10px">Direct Reporting</span></h2>
            <div class="col-md-12">
              <div class="tree">
                <ul>
                  <li><a href="">{{emp.emp_rm2}}</a>
                    <ul>
                      <li><a href="">{{emp.emp_rm1}}</a>
                        <ul>
                          <li><a href="">{{emp.emp_name}}</a>
                            <ul>
                              {% for e in employees %}
                              <li><a href="#">{{e.emp_name}}</a></li>
                              {% endfor %}
                              <li><button onclick="view_emp(this)" class="btn btn-sm btn-dark">View All / Edit</button></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
            </div>
            </div>
          </div>
          <div class="row mt-5 d-none" id="all_emp">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4>All Employees</h4>
                </div>
                <div class="card-body">
                  <table  id="datatablex" class="table table-striped" style="width: 100% !important;">
                    <thead>
                      <tr>
                        <th>Employee Name</th>
                        <th>Employee ID</th>
                        <th>Designation</th>
                        <th>Process</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Employee Name</th>
                        <th>Employee ID</th>
                        <th>Designation</th>
                        <th>Process</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    {% for e in employees %}
                    <tr>
                          <td>{{e.emp_name}}</td>
                          <td>{{e.emp_id}}</td>
                          <td>{{e.emp_desi}}</td>
                          <td>{{e.emp_process}}</td>
                          <td>
                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#map_{{e.id}}">Change Mapping</button>
                            <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#pass_{{e.id}}">Change Password</button>
                          </td>
                     </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

    <!-- Modal -->
    {% for e in employees %}
    <div class="modal fade" id="map_{{e.id}}" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
        <form action="/ams/create-mapping-ticket" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Mapping - {{e.emp_name}} | {{e.emp_id}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-12">
                  <input type="hidden" value="{{e.emp_name}}" name="emp_name">
                  <input type="hidden" value="{{e.emp_id}}" name="emp_id">
                  <input type="hidden" value="{{e.emp_desi}}" name="emp_desi">
                  <input type="hidden" value="{{e.emp_process}}" name="emp_process">
                  <input type="hidden" name="old_rm1" value="{{e.emp_rm1}}">
                  <input type="hidden" name="old_rm2" value="{{e.emp_rm2}}">
                  <input type="hidden" name="old_rm3" value="{{e.emp_rm3}}">
                </div>
                <div class="col-md-4">
                  <div class="form-group">

                    <label for="rm1_{{e.id}}">RM1</label>
                    <select class="form-control select2" name="new_rm1_id" id="rm1_{{e.id}}">
                      {% for r in rms %}
                      <option value="{{r.emp_id}}" {% if e.emp_rm1_id == r.emp_id %}selected{% endif %}>{{r.emp_name}} / {{r.emp_id}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="rm2_{{e.id}}">RM2</label>
                    <select class="form-control select2" name="new_rm2_id" id="rm2_{{e.id}}">
                      {% for r in rms %}
                      <option value="{{r.emp_id}}" {% if e.emp_rm2_id == r.emp_id %}selected{% endif %}>{{r.emp_name}} / {{r.emp_id}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="rm3_{{e.id}}">RM3</label>
                    <select class="form-control select2" name="new_rm3_id" id="rm3_{{e.id}}">
                      {% for r in rm3 %}
                      <option value="{{r.emp_id}}" {% if e.emp_rm3_id == r.emp_id %}selected{% endif %}>{{r.emp_name}} / {{r.emp_id}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="eff_from_{{e.id}}">Effective From:</label>
                    <input type="date" name="effective_date" class="form-control" id="eff_from_{{e.id}}" required>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="pro_{{e.id}}">Process</label>
                    <select class="form-control select2" name="new_process" id="pro_{{e.id}}">
                      {% for t in teams %}
                      <option value="{{t.name}}" {% if e.emp_process == t.name %}selected{% endif %}>{{t.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" onclick="return confirmm();" class="btn btn-primary">Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>

      
    <div class="modal fade" id="pass_{{e.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="change_pass">Change Password of {{e.emp_name}} ({{e.emp_id}})</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/ams/change-emp-password" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-body">
                  <input type="hidden" value="{{e.emp_id}}" name="emp_id">
                  <div class="row">
                      <div class="col-md-12 form-group">
                          <label for="new_pass">New Password</label>
                          <input type="password" class="form-control" required name="new_pass" id="new_pass">
                      </div>
                      <div class="col-md-12 form-group">
                          <label for="con_pass">Confirm Password</label>
                          <input type="password" class="form-control" required name="con_pass" id="con_pass">
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block script %}
<script type="text/javascript">
  function view_emp(e) {
    var a = document.getElementById("all_emp");
      a.classList.remove('d-none');
    }
</script>

{% for e in employees %}
<script>
  $today = new Date();
  $today = moment($today).format('YYYY-MM-DD');
  $("#eff_from_{{e.id}}").attr('min',$today)
</script>
{% endfor %}
{% endblock %}
