{% extends 'ams/base-rm.html' %}
{% block main %}
{% load static %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12">
              <div class="welcome">
                <p>Welcome</p>
                <h3>{{emp.emp_name}}</h3>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM1</h2>
                    </div>      
                    <div class="card-body">
                      <h6>{{emp.emp_rm1}}</h6>
                    </div>              
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM2</h2>
                    </div>      
                    <div class="card-body">
                      <h6>{{emp.emp_rm2}}</h6>
                    </div>              
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>RM3</h2>
                    </div>      
                    <div class="card-body">
                      <h6>{{emp.emp_rm3}}</h6>
                    </div>              
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>Active Employees</h2>
                    </div>      
                    <div class="card-body">
                      <a href="/ams/rm-mapping-index"><h1 style="margin: 0px !important;">{{emp_count}}</h1></a>
                      <!--<a href="all_emp.html" class="btn btn-sm btn-dark">view all</a>-->
                    </div>              
                  </div>
                </div>
                {% if rm3 == "yes" %}
                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>Mapping Tickets</h2>
                    </div>      
                    <div class="card-body">
                      <a href="/ams/view-mapping-tickets"><h1 style="margin: 0px !important;">{{map_tickets_counts}}</h1></a>
                    </div>
                  </div>
                </div>
                {% endif %}

                <div class="col-md-2">
                  <div class="card topcards">
                    <div class="card-header">
                      <h2>Leave Requests</h2>
                    </div>
                    <div class="card-body">
                      <a href="/ams/view-leave-list"><h1 style="margin: 0px !important;">{{leave_req_count}}</h1></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h4>Attendance Report</h4>
                </div>
                <div class="card-body">
                  <form action="/ams/view-emp-attendance" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label for="emp_name">Employee Name</label>
                        <select id="emp_name" name="emp_id" class="form-control select2" required>
                          <option value="All">All</option>
                          {% for i in all_emp %}
                          <option value="{{i.emp_id}}">{{i.emp_name}} ({{i.emp_id}})</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="start_date">Start Date</label>
                        <input type="date" id="start_date" onchange="mydate(this);" name="start_date" required class="form-control" value="" />
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" id="end_date" onchange="mydate(this);" name="end_date" required class="form-control" value="" />
                      </div>
                      <div class="col-md-12 form-group">
                        <button class="form-control btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3 pb-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2>Todays Report</h2>
                </div>
                <div class="card-body">
                  <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Employee ID</th>
                          <th>Approved On</th>
                          <th>Actual Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in att_details %}
                        <tr>
                          <td>{{i.emp_name}}</td>
                          <td>{{i.emp_id}}</td>
                          <td>{{i.approved_on}}</td>
                          <td style="text-transform: capitalize;">{{i.att_actual}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <!--<div class="card">
                <div class="card-header">
                  <h2>Leaves Today</h2>
                </div>
                <div class="card-body">
                  <table class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Employee ID</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in all_leaves %}
                        <tr>
                          <td>{{i.emp_name}}</td>
                          <td>{{i.emp_id}}</td>
                        </tr>
                       {% endfor %}
                      </tbody>
                    </table>
                </div>
              </div>-->
            </div>
          </div>



        </div>
        <!-- /page content -->


{% endblock %}
{% block script %}
<script src="{% static 'assets/vendors/echarts/dist/echarts.js' %}"></script>
{% endblock %}