{% block sidebar %}
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a href="/ams/hr-dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
                  <li><a><i class="fa fa-user"></i> User Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/ams/onboarding">On Boarding</a></li>
                      <li><a href="/ams/bulk-onboarding">Bulk Upload Onboarding</a></li>
                      <li><a href="/ams/view-onboarding">View Onboarding</a></li>
                      <li><a href="/ams/add-new-user">Add User</a></li>
                      <li><a href="/ams/viewusers">View Users</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-users"></i> Team Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/ams/add-newteam">Add Team</a></li>
                      <li><a href="/ams/view-all-teams">View Teams</a></li>
                    </ul>
                  </li>
                  <!--<li><a><i class="fa fa-briefcase"></i> Job Requisition <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/ams/add-new-job">Add New</a></li>
                      <li><a href="/ams/view-job-table">View Submissions</a></li>
                    </ul>
                  </li>
                  -->
                  <li><a><i class="fa fa-clock-o"></i>Attendance <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/ams/ams-update-attendance">Mark Attendance</a></li>
                        {% if request.user.profile.emp_desi in hr_om_list or request.user.profile.emp_desi in hr_tl_am_list %}
                        <li><a href="/ams/team-attendance">Team Attendance</a></li>
                        <li><a href="/ams/attendance-correction">Attendance Correction</a></li>
                        <li><a href="/ams/week-attendance">Week Report</a></li>
                        <li><a href="/ams/maternity-leave">Maternity Leave</a></li>
                        {% endif %}
                    </ul>
                  </li>
                  {% if request.user.profile.emp_desi in hr_om_list or request.user.profile.emp_desi in hr_tl_am_list %}
                  <li><a><i class="fa fa-user"></i>Mapping <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/ams/rm-mapping-index"> Mapping</a></li>
                      <li><a href="/ams/mapping-application-status"> Mapping Change Status</a></li>
                    </ul>
                  </li>
                  {% endif %}
                  <li><a href="/ams/ams-apply_leave"><i class="fa fa-check-square-o"></i> Leaves</a></li>
                  <li><a href="/ams/rm-settings"><i class="fa fa-gears"></i> Settings</a></li>
                </ul>
              </div>

            </div>
<!-- /sidebar menu -->
{% endblock %}