{% extends 'ams/base_common.html' %}
{% block main %}
{% load static %}

        <!-- page content -->
        <div class="right_col" role="main">

          <div class="page-title">
            <div class="title_left">
              <h3>Active Employees</h3>
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2>Attendance (<span id="tttyesdate"></span>)</h2>
                </div>
                <div class="card-body">
                  <table id="datatable_three" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th width="350">Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>

                      {% for i in dbys_att %}
                      {% if i.status == 'Applied' %}
                      {% else %}
                      <tr>
                        <td class="align-middle">{{i.date}}</td>
                        <td class="align-middle">{{i.emp_name}}</td>
                        <td class="align-middle">{{i.emp_id}}</td>

                        <td class="align-middle">
                          <form action="/ams/apply-attendance" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                            <div>
                              <input type="hidden" value="{{i.date}}" id="mydate_3_{{i.id}}" name="date">
                              <input type="hidden" value="{{i.emp_id}}" name="emp_id">
                              <input type="hidden" value="{{i.name}}" name="emp_name">
                              <input type="hidden" value="{{i.rm1}}" name="rm1">
                              <input type="hidden" value="{{i.rm2}}" name="rm2">
                              <input type="hidden" value="{{i.rm3}}" name="rm3">
                              <input type="hidden" value="{{i.emp_desi}}" name="emp_desi">
                              <input type="hidden" value="{{i.emp_team}}" name="emp_team">
                            </div>
                            <div class="row">
                              <div class="col-md-9">
                                <select name="att_actual" onchange="dbys_att{{i.id}}(this)" class="form-control">
                                  <option value="present">Present</option>
                                  <option value="Week OFF">Week OFF</option>
                                  <option value="Comp OFF">Comp OFF</option>
                                  <option value="Half Day">Half Day</option>
                                  <option value="Client OFF">Client OFF</option>
                                  <option value="Absent">Absent</option>
                                  <option value="NCNS">NCNS</option>
                                  <option value="Bench">Bench</option>
                                  <option value="Training">Training</option>
                                  <option value="Attrition">Attrition</option>
                                </select>
                              </div>
                              <div class="col-md-3">
                                <button class="btn btn-primary" type="submit" id="dbys_button{{i.emp_id}}">Apply</button>
                              </div>
                            </div>
                          </form>
                        </td>
                      </tr>
                      {% endif %}
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2>Attendance (<span id="ttyesdate"></span>)</h2>
                </div>
                <div class="card-body">
                  <table id="datatable_two" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th width="350">Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>

                      {% for i in ystdays_att %}
                      {% if i.status == 'Applied' %}
                      {% else %}
                      <tr>
                        <td class="align-middle">{{i.date}}</td>
                        <td class="align-middle">{{i.emp_name}}</td>
                        <td class="align-middle">{{i.emp_id}}</td>

                        <td class="align-middle">
                          <form action="/ams/apply-attendance" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                            <div>
                              <input type="hidden" value="{{i.date}}" id="mydate_2_{{i.id}}" name="date">
                              <input type="hidden" value="{{i.emp_id}}" name="emp_id">
                              <input type="hidden" value="{{i.name}}" name="emp_name">
                              <input type="hidden" value="{{i.rm1}}" name="rm1">
                              <input type="hidden" value="{{i.rm2}}" name="rm2">
                              <input type="hidden" value="{{i.rm3}}" name="rm3">
                              <input type="hidden" value="{{i.emp_desi}}" name="emp_desi">
                              <input type="hidden" value="{{i.emp_team}}" name="emp_team">
                            </div>
                            <div class="row">
                              <div class="col-md-9">
                                <select name="att_actual" onchange="ystdays_att{{i.id}}(this)" class="form-control">
                                  <option value="present">Present</option>
                                  <option value="Week OFF">Week OFF</option>
                                  <option value="Comp OFF">Comp OFF</option>
                                  <option value="Half Day">Half Day</option>
                                  <option value="Client OFF">Client OFF</option>
                                  <option value="Absent">Absent</option>
                                  <option value="NCNS">NCNS</option>
                                  <option value="Bench">Bench</option>
                                  <option value="Training">Training</option>
                                  <option value="Attrition">Attrition</option>
                                </select>
                              </div>
                              <div class="col-md-3">
                                <button class="btn btn-primary" type="submit" id="ystdays_button{{i.emp_id}}">Apply</button>
                              </div>
                            </div>
                          </form>
                        </td>
                      </tr>
                      {% endif %}
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h2>Attendance (<span id="ttodaydate"></span>)</h2>
                  {% for m in messages %}
                  <p>{{m}}</p>
                  {% endfor %}
                </div>
                <div class="card-body" id="table_today">
                  <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th width="350">Action</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Employee ID</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                    <tbody>

                      {% for i in todays_att %}
                      {% if i.status == 'Applied' %}
                      {% else %}
                      <tr>
                        <td class="align-middle">{{i.date}}</td>
                        <td class="align-middle">{{i.emp_name}}</td>
                        <td class="align-middle">{{i.emp_id}}</td>

                        <td class="align-middle">
                            <div>
                              <input type="hidden" value="{{i.date}}" id="mydate_1_{{i.emp_id}}" name="date">
                              <input type="hidden" value="{{i.emp_id}}" name="emp_id" id="today_{{i.emp_id}}">
                            </div>
                            <div class="row">
                              <div class="col-md-9">
                                <select name="att_actual" onchange="todays_att{{i.id}}(this)" id="today_att_actual_{{i.emp_id}}" class="form-control">
                                  <option value="present">Present</option>
                                  <option value="Week OFF">Week OFF</option>
                                  <option value="Comp OFF">Comp OFF</option>
                                  <option value="Half Day">Half Day</option>
                                  <option value="Client OFF">Client OFF</option>
                                  <option value="Absent">Absent</option>
                                  <option value="NCNS">NCNS</option>
                                  <option value="Bench">Bench</option>
                                  <option value="Training">Training</option>
                                  <option value="Attrition">Attrition</option>
                                </select>
                              </div>
                              <div class="col-md-3">
                                <button class="btn btn-primary" type="submit" id="todays_button{{i.emp_id}}">Apply</button>
                              </div>
                            </div>
                        </td>
                      </tr>
                      {% endif %}
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /page content -->
    </div>
</div>

{% endblock %}
{% block script %}
<script id="myscript"></script>
{% for i in todays_att %}
<script>
  $today = $("#mydate_1_{{i.emp_id}}").val();
  $("#mydate_1_{{i.emp_id}}").val(moment($today).format("YYYY-MM-DD"));
  $yesterday = $("#mydate_2").val();
  $("#mydate_2").val(moment($yesterday).format("YYYY-MM-DD"));
  $d_yes = $("#mydate_3").val();
  $("#mydate_3").val(moment($d_yes).format("YYYY-MM-DD"));

  csrf = document.querySelector("input[name='csrfmiddlewaretoken']").value;
  $("#todays_button{{i.emp_id}}").on("click",function(){
    var att_actual = $("#today_att_actual_{{i.emp_id}}").val();
    var date = $("#mydate_1_{{i.emp_id}}").val();
    var emp_id = $("#today_{{i.emp_id}}").val();
    $.ajax({
      type:'POST',
      url:"/ams/test",
      data:{csrfmiddlewaretoken:csrf,emp_id:emp_id,date:date,att_actual:att_actual},
      success:function(data) {
        var myObject = eval('(' + data + ')');
        var json = jQuery.parseJSON(data);
        if (data) {
          var content = '';
          var script = '';
          content += '<table id="datatable_today" class="table table-striped table-bordered" style="width:100%">';
          content += '<thead>';
          content += '<tr>';
          content += '<th>Date</th>';
          content += '<th>Name</th>';
          content += '<th>Employee ID</th>';
          content += '<th>Action</th>';
          content += '</tr>';
          content += '</thead>';
          content += '<tbody>';
          for (var i = 0; i < myObject.length; i++) {
            content += '<tr>';
            content += '<td class="align-middle">{{i.date}}</td>';
            content += '<td class="align-middle">'+ myObject[i].emp_name +'</td>';
            content += '<td class="align-middle">'+ myObject[i].emp_id +'</td>';
            content += '<td class="align-middle">';
            content += '<div>';
            content += '<input type="hidden" value="'+ myObject[i].date +'" id="mydate_1_'+ myObject[i].emp_id +'" name="date">';
            content += '<input type="hidden" value="'+ myObject[i].emp_id +'" name="emp_id" id="today_'+ myObject[i].emp_id +'">';
            content += '</div>';
            content += '<div class="row">';
            content += '<div class="col-md-9">';
            content += '<select name="att_actual" onchange="todays_att'+ myObject[i].id +'(this)" id="today_att_actual_'+ myObject[i].emp_id +'" class="form-control">';
            content += '<option value="present">Present</option>';
            content += '<option value="Week OFF">Week OFF</option>';
            content += '<option value="Comp OFF">Comp OFF</option>';
            content += '<option value="Half Day">Half Day</option>';
            content += '<option value="Client OFF">Client OFF</option>';
            content += '<option value="Absent">Absent</option>';
            content += '<option value="NCNS">NCNS</option>';
            content += '<option value="Bench">Bench</option>';
            content += '<option value="Training">Training</option>';
            content += '<option value="Attrition">Attrition</option>';
            content += '</select>';
            content += '</div>';
            content += '<div class="col-md-3">';
            content += '<button class="btn btn-primary todays_button" type="submit">Apply</button>';
            content += '</div>';
            content += '</div>';
            content += '</td>';
            content += '</tr>';
            var $emp_id = myObject[i].emp_id

            script +='$(".todays_button").on("click",function(){'
            script +=  'var att_actual = $("#today_att_actual_'+ myObject[i].emp_id +'").val();\n'
            script +=  'var date = $("#mydate_1_'+ myObject[i].emp_id +'").val();\n'
            script +=  'var emp_id = $("#today_'+ myObject[i].emp_id +'").val();\n'
            script +=  '$.ajax({\n'
            script +=    'type:"POST",\n'
            script +=    'url:"/ams/test",\n'
            script +=    'data:{csrfmiddlewaretoken:csrf,emp_id:emp_id,date:date,att_actual:att_actual},\n'
            script +=  '});\n'
            script +='});\n'
          }
          content += '</tbody>';
          content += '</table>';
          alert(content)
          $('#table_today').empty().append(content);
          $('#myscript').empty().append(script);
          $('#datatable_today').DataTable( {
              responsive: true
          } );
        }
      }
    });
  })
</script>
{% endfor %}

    <script>
      $( document ).ready(function() {
        $today = new Date();
        $yesterday = new Date($today);
        $they = new Date($yesterday);
        $yesterday.setDate($today.getDate() - 1);
        $they.setDate($yesterday.getDate() - 1);
        $("#todaydate").html(moment($today).format('YYYY-MM-DD'));
        $("#yesdate").html(moment($yesterday).format('YYYY-MM-DD'));
        $("#tyesdate").html(moment($they).format('YYYY-MM-DD')); 
        $("#ttodaydate").html(moment($today).format('DD-MMM-YYYY'));
        $("#ttyesdate").html(moment($yesterday).format('DD-MMM-YYYY'));
        $("#tttyesdate").html(moment($they).format('DD-MMM-YYYY')); 
      });   
    </script>
<script>
{% for i in todays_att %}
  $today = $("#mydate_1_{{i.emp_id}}").val();
  $("#mydate_1_{{i.id}}").val(moment($today).format("YYYY-MM-DD"));
{% endfor %}
{% for i in ystdays_att %}
  $yesterday = $("#mydate_2_{{i.id}}").val();
  $("#mydate_2_{{i.id}}").val(moment($yesterday).format("YYYY-MM-DD"));
{% endfor %}
{% for i in dbys_att %}
  $d_yes = $("#mydate_3_{{i.id}}").val();
  $("#mydate_3_{{i.id}}").val(moment($d_yes).format("YYYY-MM-DD"));
{% endfor %}
</script>
<script>
  {% for i in todays_att %}
    {% if i.status != 'Applied' %}
      function todays_att{{i.id}}(e) {
        $button = $("#todays_button{{i.emp_id}}");
        if ((e.value == "NCNS") || (e.value == "Bench") || (e.value == "Attrition")) {
          $button.attr('disabled','');
          let emp_id = prompt("Please enter your Employee ID to confirm");
          if (emp_id == {{request.user.profile.emp_id}} ) {
            $button.removeAttr('disabled');
          } else {
            alert("Entered Employee ID is Wrong try Again :)");
          }
        } else {
          $button.removeAttr('disabled');
        }
      }
    {% endif %}
  {% endfor %}



  {% for j in dbys_att %}
    {% if j.att_actual == "Unmarked" %}
      $("#ystdays_button{{j.emp_id}}").click(function(){
          alert("Please mark previous day's attendance 1st for {{j.emp_name}} ({{j.emp_id}})");
          return false;
      })
    {% endif %}
  {% endfor %}



  {% for j in ystdays_att %}
    {% if j.att_actual == "Unmarked" %}
      $("#todays_button{{j.emp_id}}").click(function(){
          alert("Please mark previous day's attendance 1st for {{j.emp_name}} ({{j.emp_id}})");
          return false;
      })
    {% endif %}
  {% endfor %}


  {% for i in ystdays_att %}
    {% if i.status != 'Applied' %}
      function ystdays_att{{i.id}}(e) {
        $button = $("#ystdays_button{{i.emp_id}}");
        if ((e.value == "NCNS") || (e.value == "Bench") || (e.value == "Attrition")) {
          $button.attr('disabled','');
          let emp_id = prompt("Please enter your Employee ID to confirm");
          if (emp_id == {{request.user.profile.emp_id}} ) {
            $button.removeAttr('disabled');
          } else {
            alert("Entered Employee ID is Wrong try Again :)");
          }
        } else {
          $button.removeAttr('disabled');
        }
      }
    {% endif %}
  {% endfor %}


  {% for i in dbys_att %}
    {% if i.status != 'Applied' %}
      function dbys_att{{i.id}}(e) {
        $button = $("#dbys_button{{i.emp_id}}");
        if ((e.value == "NCNS") || (e.value == "Bench") || (e.value == "Attrition")) {
          $button.attr('disabled','');
          let emp_id = prompt("Please enter your Employee ID to confirm");
          if (emp_id === null){
            return;
          }
          if (emp_id == {{request.user.profile.emp_id}} ) {
            $button.removeAttr('disabled');
          } else {
            alert("Entered Employee ID is Wrong try Again :)");
          }
        } else {
          $button.removeAttr('disabled');
        }
      }
    {% endif %}
  {% endfor %}
</script>
{% endblock %}