{% extends 'ams/base_hr_new.html' %}

{% load static %}
{% block main %}
        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" >
        </div>
          <!-- /top tiles -->

        <div class="page-title">
          <div class="title_left">
            <h3>View Teams</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h2>View Teams</h2>
              </div>
              <div class="card-body">
                <table  id="datatablex" class="table table-striped" style="max-width: 100% !important;">
                  <thead>
                    <tr>
                            <th>Team Name</th>
                            <th>Manager</th>
                        </tr>
                  </thead>
                  <tfoot>
                    <tr>
                            <th>Team Name</th>
                            <th>Manager</th>
                        </tr>
                  </tfoot>
                  <tbody>
                  {% for i in teams %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.om}}</td>

                        </tr>
                  {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>



        </div>
        <!-- /page content -->


    <!-- Start New Designation Pop-Up -->
      <div class="modal fade" id="add_desg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add New Designation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form method="" action="" enctype="">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="new_desg">Designation Name</label>
                      <input type="text" name="new_desg" id="new_desg" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- End New Designation Pop-Up -->


          <script type="text/javascript">
      $(document).ready(function() {
          $('#datatablex').DataTable( {
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
              dom: 'lBfrtip',
              buttons: [
                    {
                        extend: "copy",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "csv",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "excel",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "pdfHtml5",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "print",
                        className: "btn btn-success btn-sm ml-1"
                    },
                ],
                responsive: true
          } );
      } );
    </script>



{% endblock %}


