{% extends 'ams/base_common.html' %}

{% load static %}
{% block main %}


        <!-- page content -->
        <style type="text/css">
          .dataTables_filter .input-sm {
            width: 125px !important;
          }
        </style>
        <div class="right_col" role="main">
          <div class="page-title">
            <div class="title_left">
              <h3>Attendance Corrections</h3>
            </div>
          </div>
          <div class="row">
            </div>
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <table  id="datatable1" class="table table-striped dt-responsive" style="max-width: 100% !important;">
                    <thead>
                      <tr>
                        <th style="min-width: 120px !important;">Date</th>
                        <th>Name</th>
                        <th>Emp ID</th>
                        <th>Current Status</th>
                        <th width="250">Actual Status</th>
                        
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th style="min-width: 120px !important;">Date</th>
                        <th>Name</th>
                        <th>Emp ID</th>
                        <th>Current Status</th>
                        <th>Actual Status</th>
                        
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr>


                        <td>{{cal.date}}</td>
                        <td>{{cal.emp_name}}</td>
                        <td>{{cal.emp_id}}</td>
                        <td>{{cal.att_actual}}</td>
                        <td>
                          <form action="/ams/apply-attendance-correction" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" value="{{cal.id}}" name="id">
                            <input type="hidden" value="{{cal.att_actual}}" name="att_old">
                            <input type="hidden" value="{{cal.date}}" id="date1">
                            <input type="hidden" value="" name="date" id="acdate">
                              <input type="hidden" value="{{cal.emp_id}}" name="emp_id">

                            <div style="display: inline-flex;">
                              <select name="att_new" class="form-control" style="width: 175px; margin-right: 5px;">
                                    <option value="present">Present</option>
                                    <option value="Week OFF">Week OFF</option>
                                    <option value="Comp OFF">Comp OFF</option>
                                    <option value="Half Day">Half Day</option>
                                    <option value="Client OFF">Client OFF</option>
                                    <option value="Absent">Absent</option>
                                    <option value="Training">Training</option>
                                    <option value="Attrition">Attrition</option>
                                    <option value="Bench">Bench</option>
                                    <option value="PL">PL</option>
                                    <option value="SL">SL</option>
                                    <option value="ML">ML</option>
                              </select>
                                <input type="text" placeholder="Reason for Correction" name="reason" class="form-control" style="width:200px;margin-right:4px;" required>
                              <button class="btn btn-secondary">Apply</button>
                            </div>

                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->

    <script type="text/javascript">
      $(document).ready(function() {
          $('#datatable2').DataTable();
          $('#datatable1').DataTable();
          $date = $('#date1').val();
          $('#acdate').val(moment($date).format("YYYY-MM-DD"));
      });

    </script>





{% endblock %}


