{% extends 'ams/base_common.html' %}

{% load static %}
{% block main %}


        <!-- page content -->
        <style type="text/css">
          .dataTables_filter .input-sm {
            width: 125px !important;
          }
        </style>
        <div class="right_col" role="main">
          <div class="page-title">
            <div class="title_left">
              <h3>Attendance Corrections</h3>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <form action="/ams/attendance-correction" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label for="empname">Employee Name</label>
                        <select id="empname" name="emp_id" class="form-control select2" required>
                          <option value="" selected disabled >Please Select</option>
                          {% for i in all_emp %}
                          <option value="{{i.emp_id}}">{{i.emp_name}} - {{i.emp_id}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-12 form-group">
                        <label for="start_date">Date</label>
                        <input type="date" id="start_date" min="2022-04-01" onchange="mydate(this);" name="date" required class="form-control" value="" />
                      </div>
                      <div class="col-md-12 form-group">
                        <button class="form-control btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3">
              <div class="card">
                <div class="card-header">
                  <h4>Attendance Tickets Status</h4>
                </div>
                <div class="card-body">
                  <table  id="datatable1" class="table table-striped dt-responsive" style="max-width: 100% !important;">
                    <thead>
                      <tr>
                        <th style="min-width: 120px !important;">Applied Date</th>
                        <th>Name</th>
                        <th>Emp ID</th>
                        <th>Old Status</th>
                        <th>New Status</th>
                        <th>Reason</th>
                        <th>Request Status</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th style="min-width: 120px !important;">Applied Date</th>
                        <th>Name</th>
                        <th>Emp ID</th>
                        <th>Old Status</th>
                        <th>New Status</th>
                        <th>Reason</th>
                        <th>Request Status</th>
                      </tr>
                    </tfoot>
                    <tbody>

                    {% for a in atthist %}
                      <tr>
                        <td>{{a.date_for}}</td>
                        <td>{{a.emp_name}}</td>
                        <td>{{a.emp_id}}</td>
                        <td>{{a.att_old}}</td>
                        <td>{{a.att_new}}</td>
                        <td>{{a.reason}}</td>
                        <td>{{a.om_response}}</td>

                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->


    <script type="text/javascript">
      $(document).ready(function() {
          $('#datatable2').DataTable();
          $('#datatable1').DataTable();
      } );
    </script>





{% endblock %}


