{% extends 'ams/base_hr_new.html' %}

{% load static %}
{% block main %}
        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" >
        </div>
          <!-- /top tiles -->

        <div class="page-title">
          <div class="title_left">
            <h3>View Teams</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h2>View Teams</h2>
              </div>
              <div class="card-body">
                <table  id="datatablex" class="table table-striped" style="max-width: 100% !important;">
                  <thead>
                    <tr>
                            <th>Team Name</th>
                            <th>Manager</th>
                        </tr>
                  </thead>
                  <tfoot>
                    <tr>
                            <th>Team Name</th>
                            <th>Manager</th>
                        </tr>
                  </tfoot>
                  <tbody>
                  {% for i in teams %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.om}}</td>

                        </tr>
                  {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>



        </div>
        <!-- /page content -->





          <script type="text/javascript">
      $(document).ready(function() {
          $('#datatablex').DataTable( {
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
              dom: 'lBfrtip',
              buttons: [
                    {
                        extend: "copy",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "csv",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "excel",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "pdfHtml5",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "print",
                        className: "btn btn-success btn-sm ml-1"
                    },
                ],
                responsive: true
          } );
      } );
    </script>



{% endblock %}


