{% extends 'ams/base_hr_new.html' %}

{% load static %}
{% block main %}


        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" >
        </div>
          <!-- /top tiles -->

        <div class="page-title">
          <div class="title_left">
            <h3>View User</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h2>View User</h2>
              </div>
              <div class="card-body">
                <table  id="datatablex" class="table table-striped" style="max-width: 100% !important;">
                  <thead>
                    <tr>
                            <th>Emp Name</th>
                            <th>Emp ID</th>
                            <th>Designation</th>
                            <th>RM1</th>
                            <th>RM2</th>
                            <th>RM3</th>
                            <th>Process</th>
                            <th>Action</th>
                        </tr>
                  </thead>
                  <tfoot>
                    <tr>
                            <th>Emp Name</th>
                            <th>Emp ID</th>
                            <th>Designation</th>
                            <th>RM1</th>
                            <th>RM2</th>
                            <th>RM3</th>
                            <th>Process</th>
                            <th>Action</th>
                        </tr>
                  </tfoot>
                  <tbody>
                  {% for i in add %}
                          <tr>
                              <td>{{i.emp_name}}</td>
                              <td>{{i.emp_id}}</td>
                              <td>{{i.emp_desi}}</td>
                              <td>{{i.emp_rm1}}</td>
                              <td>{{i.emp_rm2}}</td>
                              <td>{{i.emp_rm3}}</td>
                              <td>{{i.emp_process}}</td>
                              <td>
                              {% if i.on_id %}
                              <a href="/ams/view-employee-profile/{{i.id}}/{{i.on_id}}">
                                <button type="submit"submi class="btn-primary btn btn-sm">view</button>
                              </a>
                              {% endif %}
                            </td>

                          </tr>
                  {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- /page content -->







          <script type="text/javascript">
      $(document).ready(function() {
          $('#datatablex').DataTable( {
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
              dom: 'lBfrtip',
              buttons: [
                    {
                        extend: "copy",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "csv",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "excel",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "pdfHtml5",
                        className: "btn btn-success btn-sm ml-1"
                    },
                    {
                        extend: "print",
                        className: "btn btn-success btn-sm ml-1"
                    },
                ],
                responsive: true
          } );
      } );
    </script>
{% endblock %}



