{% extends 'ams/base-rm.html' %}
{% load static %}
{% block main %}


        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" >
        </div>
          <!-- /top tiles -->
        <div class="page-title">
          <div class="title_left">
            <h3>View Mapping Tickets</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h2>logged in : {{request.user.profile.emp_name}}</h2>
              </div>
              <div class="card-body">
                <table  id="datatablex" class="table table-striped" style="max-width: 100% !important;">
                  <thead>
                    <tr>
                      <th>Created Date</th>
                      <th>Employee Name</th>
                      <th>Employee ID</th>
                      <th>Employee Designation</th>
                      <th>Created By</th>
                      <th>Effective Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Created Date</th>
                      <th>Employee Name</th>
                      <th>Employee ID</th>
                      <th>Employee Designation</th>
                      <th>Created By</th>
                      <th>Effective Date</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for t in tickets %}
                    <tr>
                        <td>{{t.created_date}}</td>
                        <td>{{t.emp_name}}</td>
                        <td>{{t.emp_id}}</td>
                        <td>{{t.emp_desi}}</td>
                        <td>{{t.created_by}}</td>
                        <td>{{t.effective_date}}</td>
                        <td>
                          <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#v{{t.id}}">View / Approve</button>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
        <!-- /page content -->

        <!-- View Request Pop-Up -->
      {% for t in tickets %}
      <div class="modal fade" id="v{{t.id}}" tabindex="-1" role="dialog" aria-labelledby="pop_up_for_view" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">View Request of {{t.emp_name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/ams/approve-mapping-ticket" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="modal-body">
                <div class="row">
                  <div>
                    <input type="hidden" name="id" id="" value="{{t.id}}">
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="emp_name">Employee Name</label>
                      <input type="text" name="emp_name" id="emp_name" value="{{t.emp_name}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="emp_id">Employee ID</label>
                      <input type="text" name="emp_id" id="emp_id" value="{{t.emp_id}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="emp_desg">Employee Designation</label>
                      <input type="text" name="emp_desg" id="emp_desg" value="{{t.emp_desi}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <h6>Current Managers:</h6>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="old_rm1">RM1</label>
                      <input type="text" name="old_rm1" id="old_rm1" value="{{t.emp_rm1}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="old_rm2">RM2</label>
                      <input type="text" name="old_rm2" id="old_rm2" value="{{t.emp_rm2}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="old_rm3">RM3</label>
                      <input type="text" name="old_rm3" id="old_rm3" value="{{t.emp_rm3}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <h6>New Managers:</h6>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="new_rm1">RM1</label>
                      <input type="text" name="new_rm1" id="new_rm1" value="{{t.new_rm1}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="new_rm2">RM2</label>
                      <input type="text" name="new_rm2" id="new_rm2" value="{{t.new_rm2}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="new_rm3">RM3</label>
                      <input type="text" name="new_rm3" id="new_rm3" value="{{t.new_rm3}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="old_process">Current Process</label>
                      <input type="text" name="old_process" id="old_process" value="{{t.emp_process}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="new_process">New Process</label>
                      <input type="text" name="new_process" id="new_process" value="{{t.new_process}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="req_by">Requested By</label>
                      <input type="text" name="req_by" id="req_by" value="{{t.created_by}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="req_date">Requested Date</label>
                      <input type="text" name="req_date" id="req_date" value="{{t.created_date}}" readonly class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="eff_date">Effective Date</label>
                      <input type="text" name="eff_date" id="eff_date" value="{{t.effective_date}}" readonly class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" onclick="confirm('Are you sure you want to Approve?');" class="btn btn-success">Approve</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- View Request Pop-Up -->

      {% endfor %}




{% endblock %}



